<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<!-- About the project -->
<div class="about-section">
  <p>
    This project is a simple to-do app to learn Angular.
    Below users can create a to-do list and remove tasks once they've been completed.
  </p>
</div>

<hr/>

<div class="list-container">
  <form class="todo-form" [formGroup]="taskForm" (ngSubmit)="addTask()" >
    <input placeholder="Enter your task" formControlName="task" />
    <input type="submit"/>
  </form>

  <br/>
  Tasks: <button (click)="clearTasks()">Clear</button>
  <br/>
  <br/>
  <li *ngFor="let task of tasks let i = index">
    {{ task }} - <button (click)="removeTask(i)">Remove</button>
  </li>
</div>

<router-outlet></router-outlet>
